
<div class="container-fluid mt-5">
    <table class="table table-bordered table-hovered" style="background-color:peru ;">
        <thead>
            <tr>
                <th>Sr. no</th>
                <th>Product Id</th>
                <th>User Id</th>            
            </tr>
        </thead>
        <tbody>
              <tr>
                <td>1</td>
                <td><%= cartItem.cartId;%></td>
                <td><%= cartItem.userId;%></td>
              </tr>
        </tbody>
    </table>
</div>