<form action="/login" method="post">
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h2 class="text-center">Login Portal</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <% if(status && message){ %>
                                <div class="col-12">
                                    <h3 class="text text-center text-danger">
                                        <%= message; %>
                                    </h3>
                                    <h3 class="text text-center text-danger">
                                        <%= status; %>
                                    </h3>
                                </div>
                            <% } %>
                            <div class="col-12 mb-3 mt-3">
                                <label class="form-label">User name/ Email</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                           
                            <div class="col-12 mb-3 mt-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>