
<form action="/create-user" method="post" enctype="multipart/form-data">
    <div class="container mt-5">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card">
                    <div class="card-header bg-info text-center">
                        <h2>Registration Portal</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mt-2 mb-3">
                                <label>First Name</label>
                                <input type="text" name="firstName" id="" class="form-control" required="required" />
                            </div>

                            <div class="col-12 mt-2 mb-3">
                                <label>Last Name</label>
                                <input type="text" name="lastName" id="" class="form-control" required="required" />
                            </div>

                            <div class="col-12 mt-2 mb-3">
                                <label>Email</label>
                                <input type="email" name="userEmail" id="" class="form-control" required="required" />
                            </div>

                            <div class="col-12 mt-2  mb-3">
                                <label>Contact</label>
                                <input type="number" name="contact" id="" class="form-control" required="required" />
                            </div>

                            <div class="col-12 mt-2  mb-3">
                                <label>Gender</label>
                                <input type="radio" name="gender" value="male" required="required" /> Male
                                <input type="radio" name="gender" value="female" /> Female
                            </div>

                            <div class="col-12 mt-2  mb-3">
                                <label>About Yourself</label>
                                <textarea name="aboutAuthor" id="aboutAuthor" class="form-control" required="required"
                                    rows="6"></textarea>
                            </div>

                            <div class="col-12 mt-2  mb-3">
                                <label>Profile Photo</label>
                                <input type="file" name="authorProfile" id="authorProfile" required="required"
                                    class="form-control" />
                            </div>

                            <div class="col-12 mt-2  mb-3">
                                <label>Password</label>
                                <input type="password" name="password" id="" class="form-control" required="required" />
                            </div>

                            <div class="col-12 mt-2  mb-3">
                                <label>Confirm Password</label>
                                <input type="password" name="confirmPassword" id="" class="form-control"
                                    required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>